.book
  display: flex
  flex-direction: column
  justify-content: center
  font-size: 1.6rem
  margin: 2rem
  padding: 2rem
  &__cover
    height: 26rem
    width: 20rem
    box-shadow: 0.1rem 0.1rem 0.6rem 0.1rem rgb(0 0 0 / 30%)
    border-radius: .5rem 
    &-container
      display: flex
      justify-content: center
  &__title
    font-weight: bold
    height: 3.6rem
    overflow: hidden
  &__author, &__category
    color: #bdbdbd
  p
    margin-top: 1rem