@use '../utils'
@use '../mixins'

.header
  display: flex
  flex-direction: column
  align-items: center
  font-size: 2.2rem
  @include mixins.sm
    font-size: 1.6rem
  @include mixins.xs
    font-size: 1.4rem
.searchform
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  align-items: center
  margin: 2rem
  border-radius: 1.5rem
  padding: 4rem 14rem
  box-shadow: 0 0 .6rem 0 #000000
  background-image: url('../../assets/pexels-yogendra-singh-731510.jpg')
  background-position: center
  background-size: cover
  @include mixins.sm
    padding: 2rem 4rem
    margin: 1rem
  @include mixins.xs  
    justify-content: center

.search-field
  flex-basis: 100%
  width: 20rem
  margin: 1rem
.select-field, .datalist-select-field
  width: 30rem
  margin: 1rem
  @include mixins.md
    width: 24rem
  @include mixins.sm
    width: 18rem
